.gameArea {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    max-width: 300px;
}

.center {
    display: flex;
    justify-content: center;
}

#restart {
    margin-top: 10px;
}

.cell {
    border: 1px solid;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}